<template name="entryExtraSignUpFields">
    {{#each extraSignUpFields}}
    {{> _entryExtraSignUpField}}
    {{/each}}
</template>

<template name="_entryExtraSignUpField">
    {{#if isTextField }}
    <div class="form-group">
        {{text_field field type=type required=required label=label placeholder=placeholder autocomplete=autocomplete name=name}}
    </div>
    {{/if}}

    {{#if isCheckbox}}
    <div class="checkbox">
        {{check_box name label=label required=required}}
    </div>
    {{/if}}
</template>

<template name="_firstname">
    <label for="firstname">First Name</label>
    <input type="text" id="firstname" class="form-control" name="firstname" value="" placeholder="Jane" required="" autocomplete="give-name">
</template>

<template name="_lastname">
    <label for="lastname">Last Name</label>
    <input type="text" id="lastname" class="form-control" name="lastname" value="" placeholder="Doe" required="" autocomplete="last-name">
</template>