<template name='entrySignUp'>
  <div class="{{containerCSSClass}}">
    <div class="{{rowCSSClass}}">
      <!-- LOGO -->
      {{#if logo}}
        <div class="entry-logo">
            <a href="/"><img src="{{logo}}" alt="logo"></a>
        </div>
      {{/if}}
      <div class="entry col-md-4 col-md-offset-4">
        <h3>{{t9n "createAccount"}}</h3>
        <!-- FORM -->
        <form id="signUp">
          <!-- EXTRA FIELDS -->
          {{> entryExtraSignUpFields}}

          <!-- LOGIN WITH PASSWORD -->
          {{#if passwordLoginService}}
            <div class="email-option">
              <a data-toggle="collapse" href="#loginWithPwd">
                {{t9n "signUpWithYourEmailAddress"}}
              </a>
            </div>
            <div class="entry-form {{signupClass}}" id="loginWithPwd">
              {{> _firstname}}
              {{> _lastname}}
              {{#if showUsername}}
                <div class="form-group">
                  <label>{{t9n "username"}}</label>
                  <input autofocus name="username" type="string" class="form-control" value=''  autocapitalize="none" autocomplete="off" autocorrect="off">
                </div>
              {{/if}}
              {{#if showEmail}}
                <div class="form-group">
                  <label>{{t9n "emailAddress"}}</label>
                  {{#if showUsername}}
                    <input name="email" type="email" class="form-control" value='{{emailAddress}}'  autocapitalize="none" autocomplete="email" autocorrect="off">
                  {{else}}
                    <input name="email" autofocus type="email" class="form-control" value='{{emailAddress}}'  autocapitalize="none" autocomplete="email" autocorrect="off" >
                  {{/if}}
                </div>
              {{/if}}
              <div class="form-group">
                <label>{{t9n "password"}}</label>
                <input type="password" class="form-control" value='' autocomplete="new-password">
              </div>
              {{#if showSignupCode}}
                <div class="form-group">
                  <label>{{t9n "signupCode"}}</label>
                  <input name="signupCode" type="string" class="form-control" value=''  autocapitalize="none" autocomplete="off" autocorrect="off" >
                </div>
              {{/if}}
              <button type="submit" class="submit btn btn-block btn-default">{{t9n "signUp"}}</button>
            </div> <!-- end of div -->
          {{/if}} <!-- end of password login -->

          <!-- LOGIN WITH FACEBOOK -->
          {{#if otherLoginServices}}
            <div class="email-option">
              <strong class="line-thru">{{t9n "OR"}}</strong>
            </div>
            <div class="entry-social">
              <!-- {{#each loginServices}}
                {{> entrySocial}}
              {{/each}} -->
              <button class="btn" id="login-facebook" name="facebook">
                  <i class="fa fa-facebook"></i>
                  Register with Facebook
              </button>
            </div>
          {{/if}} <!-- end of facebook login -->

          <p class="entry-signin-cta">{{t9n "ifYouAlreadyHaveAnAccount"}} <a href="{{pathFor 'entrySignIn'}}">{{t9n "signin"}}</a>.</p>

          <!-- PRIVACY POLICY AND TERMS AGREEMENT -->
          {{#if both}}
            <p class="entry-agreement">{{t9n "clickAgree"}}
              <a href="{{privacyUrl}}">{{t9n "privacyPolicy"}}</a> {{t9n "and"}}
              <a href="{{termsUrl}}">{{t9n "terms"}}</a>.
            </p>
          {{else}}
            {{#unless neither}}
              <p class="entry-agreement">{{t9n "clickAgree"}}
                {{#if privacyUrl}}<a href="{{privacyUrl}}">{{t9n "privacyPolicy"}}</a>.{{/if}}
                {{#if termsUrl}}<a href="{{termsUrl}}">{{t9n "terms"}}</a>.{{/if}}
              </p>
            {{/unless}}
          {{/if}}

          <!-- IF TALKING TO SERVER SHOW SPINNER -->
          {{#if talkingToServer}}
            {{> spinner}}
          {{/if}}
        </form>
        {{> entryError}}
      </div>
    </div>
  </div>
</template>
